body{
    font-family: Roboto;
    height: 100vh;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
.search input{
    border-radius:10px;
    padding: 3px 100px;
}
.nav-icon, .card-icon, .header-nav-icon {
    width: 35px;
}

.user-icon {
    border-radius: 50%;
    width: 70px;
}
.header-icon{
    width: 100px;
}
.logo-aside img{
    width: 70px;
}
.header{
    grid-area: 1/2/1/3;
}
section.left-toc{
    grid-area: 1/1/3/1;
    background-color: #0ea5e9;
}
.logo-aside, .nav-icon, .nav-text{
    filter: invert(100%) sepia(20%) saturate(3616%) hue-rotate(176deg) brightness(102%) contrast(103%);
}
.logo-aside, .aside-group-nav {
    margin: 30px;
}
.logo-aside, .nav-item{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
    justify-items: left;
} 
.nav-item{
    margin-left: 16px;
    gap: 30px;
}
#main-name{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-text{
    font-weight: 800;
    font-size: 1.5rem;
}
.aside-group-nav ul {
    margin-top: 50px;
}
.aside-group-nav ul>li {
    margin-top: 25px;
}
main{
    grid-area: 2/2/3/3;
}
.left-toc h1{
    color: #f0f9ff
}

